@font-face {
    font-family: 'Megaten20XX';
    src: url('font/Megaten20XX.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#smt4-toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(8, 8, 8, 0.9);
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-family: 'Megaten20XX', monospace;
    z-index: 999999;
    animation: slide-in 0.5s ease-out;
    pointer-events: none;
}

.toast-header {
    font-size: 11px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.toast-body {
    font-size: 11px;
}

@keyframes slide-in {
    from {
        transform: translateX(120%);
    }

    to {
        transform: translateX(0);
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in;
}